.lsb-logo {
  margin-bottom: 30px;
}

.lsb-link {
  display: flex;
  padding: 10px;
  margin-bottom: 5px;
}

.lsb-link:hover {
  background: #222222;
  border-radius: 10px;
}

.lsb-icon {
  height: 25px;
  width: 25px;
  margin-right: 20px;
  fill: #ffffff;
}

.lsb-link a,
.lsb-link a:hover,
.lsb-link a:visited {
  color: #ffffff;
  text-decoration: none;
  font-size: 18px;
}


