<!-- type ! to get the boilerplate html -->
<!-- this is here only to copy ideas from my prevoius work -->


<!-- this is here only to copy ideas from my prevoius work -->





<!-- this is here only to copy ideas from my prevoius work -->



<!-- dev -->
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="senpai.css">    
    <title>Timothy J. McGrath-Jones</title>

    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0-beta1/dist/css/bootstrap.min.css" rel="stylesheet"
    integrity="sha384-0evHe/X+R7YkIZDRvuzKMRqM+OrBnVFBL6DOitfPri4tjfHxaWutUpFmBp4vmVor" crossorigin="anonymous">
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0-beta1/dist/js/bootstrap.bundle.min.js"
    integrity="sha384-pprn3073KE6tl6bjs2QrFaJGz5/SUsLqktiwsUTF55Jfv3qYSDhgCecCxMW52nD2"
    crossorigin="anonymous"></script>
</head>
<body>

<!-- do the full structure & lorem ipsum filler befere actually filling in the text -->
<div id="navbar">
    <a href="index.html">Click to return home</a>

</div>

<!-- <p class="specialheading center">Contact Wall Street Arcade & Gaming Store
    <input id="emailinput" type="text" placeholder="Your email address" name="text1"> -->
<!-- <input id="readybutton" type="button" value="I'm ready!" name="Submit" onclick="validate(document.getElementsByName('text1')[0].value)"> -->
</p> -->

<p class="promocode center">Sign up for my newsletter!
    <input id="emailinput" type="text" placeholder="Your email address" name="text1">

 <!-- Button trigger modal -->
 <button type="button" class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#exampleModal">
    Subscribe</button>
      
      <!-- Modal -->
      <div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
        <div class="modal-dialog modal-dialog-centered">
          <div class="modal-content">
            <div class="modal-header">
              <h5 class="modal-title modalwallst" id="exampleModalLabel">Newsletter Subscription</h5>
              <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                <p class="modalwallst">You have subscribed to my Newsletter!</p>
              </div>
            <div class="modal-footer">
              <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
              <!-- <button type="button" class="btn btn-primary">Subscribe</button> -->
            </div>
          </div>
        </div>
      </div>

  <!-- <input id="readybutton" type="button" value="I'm ready!" name="Submit" onclick="validate(document.getElementsByName('text1')[0].value)">
  </p> -->


<div id="container2">

    
    <div class="specialheading3">Send me a message!
<br>

<span id="linebreaker1">     
    <!-- <img src="/static/images/spacer.png" alt=""> -->
</span>

        <p class="contactform">Name
            <input id="emailinput" type="text" placeholder="Your name" name="text1">
        
        </p>
        <p class="contactform">Subject
            <input id="emailinput" type="text" placeholder="Subject" name="text1">
        
        </p>
        <p class="contactform">Message
            <input id="emailinput" type="text" placeholder="Your message" name="text1">
        
        </p>


        <div><button type="button" class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#exampleModal2">
            Send message</button></div>
              
              <!-- Modal -->
              <div class="modal fade" id="exampleModal2" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
                <div class="modal-dialog modal-dialog-centered">
                  <div class="modal-content">
                    <div class="modal-header">
                      <h5 class="modal-title modalwallst" id="exampleModalLabel">Send message</h5>
                      <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                    </div>
                    <div class="modal-body">
                        <p class="modalwallst">Your message has been sent!</p>
                      </div>
                    <div class="modal-footer">
                      <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                      <!-- <button type="button" class="btn btn-primary">Save changes</button> -->
                    </div>
                  </div>
                </div>
              </div>

        <!-- <input id="readybutton" type="button" value="Send message" name="Submit" onclick="validate(document.getElementsByName('text1')[0].value)"> -->

    </div> 
    <div class="specialheading2 address">

        Email: wall@streetsenpai.com<br>
        Tel: 212-656-3000<br>
        Send me something nice:<br>
        
11 Wall St<br>
New York<br>
NY 10005<br>
USA</div> 


</div>
<span id="linebreaker1">     
    <!-- <img src="/static/images/spacer.png" alt=""> -->
</span>



</body>
</html>
