.user-item-container {
  margin: 10px 0;
  padding: 10px;
  border-radius: 5px;
  background: #2f333633;
  border: 1px solid #333333;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.user-item-info {
  display: flex;
}

.user-item-pic {
  max-width: 75px;
  min-width: 75px;
  max-height: 75px;
  min-height: 75px;
  margin-right: 20px;
  border-radius: 50%;
  border: 2px solid #0096ff;
  overflow: hidden;
  display: flex;
  align-items: center;
  justify-content: center;
}

.user-item-pic img {
  width: 100%;
}

.user-info-username {
  color: #dadada;
}

.user-item-follow {
  padding: 10px 20px;
  background: #0096ff;
  border-radius: 10px;
  cursor: pointer;
}

.user-item-follow:hover {
  background: #23c483;
}
