.whotofollow-container {
  margin: 10px 0;
  padding: 10px;
  border-radius: 5px;
  background: #2f333633;
  border: 1px solid #333333;
  font-size: 14px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.whotofollow-container a,
.whotofollow-container a:hover,
.whotofollow-container a:visited {
  color: #ffffff;
  text-decoration: none;
}

.whotofollow-info {
  font-size: 12px;
  display: flex;
}

.whotofollow-pic {
  max-width: 50px;
  min-width: 50px;
  max-height: 50px;
  min-height: 50px;
  margin-right: 10px;
  border-radius: 50%;
  border: 2px solid #0096ff;
  overflow: hidden;
  display: flex;
  align-items: center;
  justify-content: center;
}

.whotofollow-pic img {
  width: 100%;
}

.whotofollow-username {
  color: #dadada;
}

.whotofollow-follow {
  padding: 5px 10px;
  background: #0096ff;
  border-radius: 5px;
  cursor: pointer;
  font-weight: bold;
}

.whotofollow-follow:hover {
  background: #23c483;
}
