@import url("https://fonts.googleapis.com/css2?family=Outfit&display=swap");

* {
  box-sizing: border-box;
}

html,
body {
  margin: 0;
  padding: 0;
  color: #ffffff;
  background: #000000;
}

body {
  font-family: "Outfit", sans-serif;
}
