.layout-container {
  display: flex;
}

.left-sidebar {
  min-width: 250px;
  max-width: 250px;
  padding: 20px;
  min-height: 100vh;
  /* border-right: 1px solid #2f3336; */
}

.main-content {
  width: 100%;
}
.page-content {
  width: 100%;
  padding: 20px;
}

.right-sidebar {
  min-width: 350px;
  max-width: 350px;
  padding: 20px;
  min-height: 100vh;
  border-left: 1px solid #2f3336;
}

@media (min-width: 1000px) {
  .layout-container {
    width: 70%;
    margin: auto;
  }
}
